<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Blog?</title>

    <link rel="stylesheet" href="../blog.css" />
    <link rel="stylesheet" href="../prism/prism.css" />
    <script src="../prism/prism.js" defer></script>
    <link
      href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo:400,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="header">
      <a href="" id="head-avatar">
        <img
          src="https://avatars3.githubusercontent.com/u/23224124?s=400&amp;u=73bf2cd89e55115ada860b5d3d93f11b77de0265&amp;v=4"
      /></a>
      <div id="head-content">
        <h1><a href="" id="head-name">James Wright Sharpe</a></h1>
        <h2 id="head-description">Mathematician and Software Engineer</h2>
      </div>
    </div>
    <div id="blog-body">
      <!-- yield -->
    </div>
    <div id="footer">
      <p>
        jameswrightsharpe@gmail.com || github.com/jwsharpe
      </p>
    </div>
  </body>
</html>
