<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Blog?</title>

    <link rel="stylesheet" href="../src/blog/css/blog.css" />
    <link rel="stylesheet" href="../dependencies/prism/prism.css" />
    <script src="../dependencies/prism/prism.js" defer></script>
    <link
      href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo:400,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="blog-container">
      <header>
        <div>
          <h1 id="title">Javascript Technonaut</h1>
          <h2 id="name"><a href="/">James Wright Sharpe</a></h2>
        </div>
      </header>
      <div id="blog-body">
        <!-- yield -->
      </div>
      <footer>
        <a href="mailto:jameswrightsharpe@gmail.com">
          jameswrightsharpe@gmail.com
        </a>
        <a href="/">
          jameswrightsharpe.me
        </a>

        <a href="https://github.com/jwsharpe">
          github.com/jwsharpe
        </a>
      </footer>
    </div>
  </body>
</html>
