[submodule "MIDI.js"]
	path = MIDI.js
	url = https://github.com/mudcube/MIDI.js.git
[submodule "untitled-loop-game"]
	path = untitled-loop-game
	url = https://github.com/jwsharpe/untitled-loop-game-frontend
[submodule "neumorphism-and-me"]
	path = neumorphism-and-me
	url = https://github.com/jwsharpe/neumorphism-and-me.git
